  .product-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 16px; 
    background: linear-gradient(135deg, #f9f9f9, #ffffff); 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 300px; 
    margin: 20px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-item:hover {
    transform: scale(1.03); 
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); 
  }
  
  .product-image {
    width: 120px; 
    height: 180px; 
    border-radius: 12px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1; 
  }
  
  .product-name {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 8px;
    color: #000000; 
  }
  
  .product-price {
    font-size: 1.2em;
    color: #000000; 
    font-weight: bold;
    margin: 0 0 12px;
  }
  
  .view-details-btn {
    position: relative;
    width: 90px;
    padding: 10px 15px;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #ff5900, #f48107); 
    border: none;
    border-radius: 8px;
    align-self: center;
    cursor: pointer;
    top: 10px;
    transition: transform 0.3s ease, transform 0.3s ease;
  }
  
  .view-details-btn:hover {
    background: linear-gradient(90deg, #f07b27, #ff8f34); 
    transform: translateY(-2px); 
  }
  

  @media (max-width: 768px) {
    .product-item {
      flex-direction: column; 
      padding: 15px;
    }
  
    .product-name {
      font-size: 1em;
    }
  
    .product-price {
      font-size: 0.9em;
    }
  
    .view-details-btn {
      font-size: 0.7em;
      max-width: 100px;
    }
  }
  
  @media (max-width: 480px) {
    .product-item {
      padding: 10px;
      gap: 15px;
    }
  
    .product-image {
      max-width: 100px;
    }
  
    .product-name {
      font-size: 0.9em;
    }
  
    .product-price {
      font-size: 0.8em;
    }
  
    .view-details-btn {
      font-size: 0.7em;
      padding: 8px 12px;
      max-width: 90px;
    }
  }