.sorting-container {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    padding: 0 1rem;
    background-color: #c0c0c0;
    width: 15%;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .sorting-container label {
    margin-right: 0.5rem;
    font-weight: bold;
  }
  
  #sort {
    padding: 0.5rem;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #e6e6e6;
  }
  